// Forms variables (to be overridden)
$vfms-prefix: "" !default;

$repeater-move-indicator-size: 4px !default;
$repeater-move-indicator-color: $primary !default;
$repeater-table-header-font-weight: 600 !default;

$media-preview-width: 120px !default;
$media-preview-height: 120px !default;
$media-preview-border-radius: 8px !default;
$media-preview-font-size: 12px !default;

