// Forms variables (to be overridden)
$repeater-move-indicator-size: 4px !default;

$media-preview-width: 120px !default;
$media-preview-height: 120px !default;
$media-preview-border-radius: 8px !default;
$media-preview-font-size: 12px !default;

